# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
*.pyi text eol=lf

# Data & config
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.bat text eol=crlf

# Binary files
*.pkl binary
*.joblib binary
